{% extends 'base.html.twig' %}
{% import "macro/categories.html" as macros %}
{% block title %}Liste des annonces{% endblock %}

{% block body %}
    <h1>Liste des annonces</h1>
    <div class="mr-0 my-4 text-right">
        {% if is_granted('ROLE_MODERATEUR') %}
            <a href="{{ path('annonces_new') }}" class="mr-0 d-block"><button class="btn-info btn">Rédiger une nouvelle annonce</button></a>
        {% endif %}
    </div>
    <div class="my-4 text-center bg-secondary shadow p-3 rounded-lg row" id="filters">
        <div id="categories" class="col-6 border-right">
            <h6 class="text-left text-white">Categories</h6>
            {{ macros.menu_cats(categoriesMeres) }}
        </div>
        <div id="prix" class="col-6">
            <h6 class="text-left text-white">Prix</h6>
            <div class="row justify-content-center h-50">
                <div class="btn-info btn h-50 my-auto ml-4">
                    <input type="text" id="min" readonly size="3" style="background:transparent;border:none;color:white;">
                </div>
                    <div id="slider-range"></div>
                <div class="btn-info btn h-50 my-auto mr-4">
                    <input type="text" id="max" readonly size="3" style="background:transparent;border:none;color:white;">
                </div>
            </div>
            <a href="/annonces/prix/0/1000" class="btn-info btn" id="filtreprix">Appliquer</a>
        </div>
    </div>
        {% for annonce in annonces %}
            {% set image = annonce.image.first() | default({imageFile: null, imageName: null, imageAlt: 'image de {{ annonce.annonceTitre }}'}) %}
        <a href="{{ path('annonces_show', {'id': annonce.id}) }}" class="text-decoration-none" style="color:black">
            <div class="card p-3">
                <div class="row ">
                    <div class="col-md-1 ">
                        <img src="{{ vich_uploader_asset(image, 'imageFile', 'App\\Entity\\Image') }}" alt="image de {{ annonce.annonceTitre }}" class="w-100">
                    </div>
                    <div class="col-md-9 px-3">
                        <div class="card-block px-3">
                            <h4 class="card-title d-block">{{ annonce.annonceTitre }} <span class="badge badge-success d-inline-block">{{ annonce.category }}</span></h4>
                            <p class="card-text text-black">{{ annonce.annonceTexte}}</p>
                        </div>
                    </div>
                    <div class="col-md-2 mr-0 d-flex">
                        <div class="card-block m-auto">
                            <h3><span class="badge badge-info">{{ annonce.annoncePrix }} €</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% else %}
            <tr>
                <td colspan="6">Il n'y a pas d'annonces à afficher</td>
            </tr>
        {% endfor %}
    <div class="navigation mx-auto mt-4">
        {{ knp_pagination_render(annonces) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $( function() {
            $( "#slider-range" ).slider({
                range: true,
                min: 0,
                max: 1000,
                values: [ {{ min | default(0)}}, {{ max | default(1000)}} ],
                step: 1,
                slide: function( event, ui ) {
                    $( "#min" ).val(ui.values[ 0 ] + " €");
                    $( "#max" ).val(ui.values[ 1 ] + " €");
                    lien = '/annonces/prix/'+ $( "#slider-range" ).slider( "values", 0 ) + '/' + $( "#slider-range" ).slider( "values", 1 );
                    $("#filtreprix").attr('href',lien);
                }
            });
            $( "#min" ).val($( "#slider-range" ).slider( "values", 0 ) + " €");
            $( "#max" ).val($( "#slider-range" ).slider( "values", 1 ) + " €");
            var lien = '/annonces/prix/'+ $( "#slider-range" ).slider( "values", 0 ) + '/' + $( "#slider-range" ).slider( "values", 1 );

        } );
    </script>
{% endblock %}




