{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}
    <h1>Annonces</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ annonce.id }}</td>
            </tr>
            <tr>
                <th>AnnonceTitre</th>
                <td>{{ annonce.annonceTitre }}</td>
            </tr>
            <tr>
                <th>AnnonceTexte</th>
                <td>{{ annonce.annonceTexte }}</td>
            </tr>
            <tr>
                <th>IsPublished</th>
                <td>{{ annonce.isPublished ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>AnnoncePrix</th>
                <td>{{ annonce.annoncePrix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('annonces_index') }}">Retour à la liste</a>

    <a href="{{ path('annonces_edit', {'id': annonce.id}) }}">Editer</a>

    {{ include('annonces/_delete_form.html.twig') }}
{% endblock %}
